<!-- Header -->
<%- include('partials/_header'); -%> 

<!-- Navigation -->
  <%- include('partials/_navigation'); -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h2 class="subheading"><%= blog.title %> </h2>
            <span class="meta"> <%= blog.dateCreated.toString().slice(0,25); %>  </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <%= blog.detail %>
        </div>
        <div class="col-lg-4">
          <div class="col-12">
            <button class="btn btn-primary w-50">
              <a href="/blogs/edit/<%= blog._id %>" style="color: white; text-decoration: none;">Update</a>
            </button>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-danger w-50">
              <a onclick="return confirm('Are you sure?')" href="/blog/<%= blog._id %>?_method=DELETE" style="color: white; text-decoration: none;">Delete Blog</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>

  <hr>
<!-- Footer -->
  <%- include('partials/_footer'); -%> 

</body>

</html>
